html,
body {
  height: 100%;
}

#pointer {
  z-index: 100;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: hsl(100, 100%, 50%);
  display: block;

  right: 50vw;
  bottom: 50vh;
}

#canvas,
#temp {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#remote {
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#draw {
  background-color: black;
  user-select: none;
  width: 100vw;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin: 0.25rem;
  }
}

#remote .slider {
  width: 95%;
  margin: 0.25rem 0;
}

#color input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: var(--color);
  color: white;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;

  &:checked::before {
    position: absolute;
    font: 13px/1 "Open Sans", sans-serif;
    left: 11px;
    top: 7px;
    content: "\02143";
    transform: rotate(40deg);
    mix-blend-mode: difference;
  }
}
