#pointer {
  z-index: 100;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: hsl(100, 100%, 50%);
  display: block;

  right: 50vw;
  bottom: 50vh;
}

#canvas,
#temp {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#draw {
  user-select: none;
}
